---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Layout from '../layouts/Layout.astro';
import ClusterManager from '../components/ClusterManager';
// Force rebuild
---
<Layout>


<div class="flex h-[calc(100vh-200px)] bg-gray-100 p-6">
    <div class="w-full h-full">
        <ClusterManager client:load />
    </div>
</div>


</div>
</Layout>
