---
import NavBar from './NavBar.astro';
---
<div id="portada">
    <img
        id="background"
        src="../../servidores.jpg"
        alt=""
		class="blur-[6px]"
        fetchpriority="high"
    />
    <NavBar />
    <main>
        <div class="portada">
        <section id="hero">
            <img
                id="logo"
                class="flex justify-center mx-auto h-40 w-40"
                src="../../logo.png"
                alt="Logo"
            />
            <h1 id="Títol" class="text-center text-3xl md:text-5xl mt-2 font-bold text-white w-full px-4 drop-shadow-lg">
                CloudWeave Prox - Gestión de clusters en Proxmox
            </h1>
            <h2
                id="eslogan"
                class="text-center align-items-center text-white/90 text-xl md:text-2xl mt-2 w-full px-4 italic font-light tracking-wide">
                Soluciones en la nube, resultados en la tierra.
            </h2>
        </section>
        </div>
    </main>
</div>