---
import '../styles/global.css'
import CloudAssistant from '../components/CloudAssistant';
import Top from '../components/header/Top.astro'
import Footer from '../components/Footer.astro'
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>CloudWeave</title>
	</head>
	<body class="bg-white text-gray-900 transition-colors duration-300 flex flex-col min-h-screen">
		<div class="flex-grow">
			<Top />
			<slot />
		</div>
		<Footer />
		<CloudAssistant client:load />
	</body>
</html>
